<h4>User Registration:</h4>
<div *ngIf="success">
    <hr>
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true" (click)="hideError()">&times;</span></button>
        <strong>Success!</strong> User is now registered!
    </div>
    <hr>
</div>
<div *ngIf="chooseDifferentUsername">
    <hr>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true" (click)="hideError()">&times;</span></button>
        <strong>Warning!</strong> Username already used. Choose different username
    </div>
    <hr>
</div>
<div *ngIf="error">
    <hr>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true" (click)="hideError()">&times;</span></button>
        <strong>Warning!</strong> Error on user registration.
    </div>
    <hr>
</div>
<form class="form-horizontal" [formGroup]="userRegistrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="username" formControlName="username">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" formControlName="password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" [disabled]="!userRegistrationForm.valid">Login</button>
        </div>
    </div>
</form>
